<p class="text-xs-center">Войдите для работы</p>
<div
	class="alert alert-{{message.type}}"
	*ngIf="message.text"
>{{message.text}}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<div
		class="form-group"
		[ngClass]="{'has-error': validField('email')}"
	>
		<label for="email">Email</label>
		<input
			type="text"
			class="form-control underlined"
			id="email"
			placeholder="Введите ваш email"
			formControlName="email"
		>
		<span
			class="form-help-text"
			*ngIf="validField('email')"
		>
			<span *ngIf="errorValidation('email', 'required')">Email не может быть пустым.</span>
			<span *ngIf="errorValidation('email', 'email')">Неверный формат Email.</span>

		</span>
	</div>
	<div
		class="form-group"
		[ngClass]="{'has-error': validField('password')}"
	>
		<label for="password">Пароль</label>
		<input
			type="password"
			class="form-control underlined"
			id="password"
			placeholder="Пароль"
			formControlName="password"
		>
		<span
			class="form-help-text"
			*ngIf="validField('password')"
		>
			<span *ngIf="errorValidation('password', 'required')">Пароль не может быть пустым.</span>
			<span *ngIf="errorLengthValidation('password')">
				Пароль не может быть короче {{ passMinLen }} символов.
				Сейчас {{ loginForm.get('password').errors['minlength'].actualLength }}.
			</span>
		</span>
	</div>
	<div class="form-group">
		<button
			type="submit"
			class="btn btn-block btn-primary"
			[disabled]="loginForm.invalid"
		>Войти</button>
	</div>
	<div class="form-group">
		<p class="text-muted text-xs-center">
			Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться!</a>
		</p>
	</div>
</form>
