<div class="title-block">
	<h3 class="title">
		Страница записей <span class="sparkline bar"></span>
	</h3>
</div>

<section class="section" *ngIf="!isLoaded">
	Loaded...
</section>

<section class="section" *ngIf="isLoaded">
	<div class="row">
		<div class="col-md-6">
			<app-add-event></app-add-event>
		</div>
		<div class="col-md-6">
			<app-add-category (onCategoryAdd)="NewCategoryAdded($event)"></app-add-category>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<app-edit-category 
				[categoryList]="categoryList"
				(onCategoryUpdated)="CategoryUpdated($event)"
			></app-edit-category>
		</div>
	</div>
</section>